//==============================
// -- Main
//==============================
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 320px;
}
a {
    text-decoration: none;
    color: $colorText;
}
li {
    list-style-type: none;
}

//==============================
// -- Other
//==============================
body {
    background-color: #ccc;
}